html, body {
  margin: 0;
  padding: 0;
  font-family: sans, Arial;
  user-select: none;
}

h1, h2, h3 {
  font-family: "Alegreya Sans", sans, Arial;
  font-weight: normal;
}

#wrap {
  width: 60%;
  max-width: 1024px;
  margin: 24px;
}

h1:before {
  background: url(wip.jpg);
  content: "";
  width: 125px;
  height: 96px;
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 16px;
}

h2 {
  margin-bottom: 0;
}

#show-add {
  display: none;
}

#show-add + label:before {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE2IDE2IiBoZWlnaHQ9IjE2IiB3aWR0aD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibSAxNiw4IC0xMiw2LjkyODIgMCwtMTMuODU2NCB6IiBzdHlsZT0iY29sb3I6IzAwMDAwMDtmaWxsOiMyZTM0MzYiIC8+PC9zdmc+");

  width: 16px;
  height: 16px;
  content: "";
  display: inline-block;
  transition: transform 0.2s;
  margin: 0 4px;
}

#observation-form {
  margin: 16px;
}

#show-add:checked + label:before {
  transform: rotate(90deg);
}

#observation-list table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#observation-list thead {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#observation-list th {
  font-family: "Alegreya Sans", sans, Arial;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(1, 1, 1, 0.8);
}

#observation-list td {
  overflow: hidden;
  text-overflow: ellipsis;
}

#observation-list tbody tr:nth-child(even) {
  background: rgba(1, 1, 1, 0.05);
}

#observation-list .placeholder td {
  text-align: center;
  padding: 24px;
  color: rgba(1, 1, 1, 0.8);
}

.width-30 {
  width: 30%;
}
