html, body {
  margin: 0;
  padding: 0;
  font-family: sans, Arial;
  user-select: none;
}

h1, h2, h3 {
  font-family: "Alegreya Sans", sans, Arial;
  font-weight: normal;
}

a {
  cursor: pointer;
}

.clearfix {
  clear: both;
}

.button {
  border: none;
  border-radius: 2px;
  background: #17a2b8;
  color: #fff;
  padding: 6px 12px;
}

.button:hover {
  background: #138496;
}

.button:focus {
  box-shadow: 0 0 0 2px rgba(23, 162, 184, 0.5);
}

#wrap {
  width: 70%;
  min-width: 40em;
  max-width: 80em;
  padding: 24px;
  box-sizing: border-box;
}

#smallprint {
  font-size: 50%;
  color: rgba(0, 0, 0, 0.5);
}

h1:before {
  background: url(wip.jpg);
  content: "";
  width: 125px;
  height: 96px;
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 16px;
}

#show-add {
  display: none;
}

#show-add + label:before {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE2IDE2IiBoZWlnaHQ9IjE2IiB3aWR0aD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibSAxNiw4IC0xMiw2LjkyODIgMCwtMTMuODU2NCB6IiBzdHlsZT0iY29sb3I6IzAwMDAwMDtmaWxsOiMyZTM0MzYiIC8+PC9zdmc+");

  width: 16px;
  height: 16px;
  content: "";
  display: inline-block;
  transition: transform 0.2s;
  margin: 0 4px;
}

#show-add:checked + label:before {
  transform: rotate(90deg);
}

#create-form {
  margin: 16px;
}

#create-form entry input {
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 2px;
}

#observation-list {
  margin-top: 1.5em;
}

#observation-list h2 {
  margin: 0;
  float: left;
}

#observation-list #search-item {
  float: right;
}

#observation-list #search-item:focus-within .button {
  box-shadow: 0 0 0 2px rgba(23, 162, 184, 0.5);
}

#observation-list #search-item:focus-within .button.active {
  box-shadow: inset 0 2px 6px #107181, 0 0 0 2px rgba(23, 162, 184, 0.5);
}

#observation-list #search-item .button.active {
  box-shadow: inset 0 2px 6px #107181;
  padding: 7px 12px 5px;
}

#observation-list #search-item input {
  opacity: 0;
}

#observation-list table {
  clear: both;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 6px 0 24px;
}

#observation-list thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#observation-list th {
  font-family: "Alegreya Sans", sans, Arial;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(1, 1, 1, 0.8);
}

#observation-list tr {
  opacity: 0.85;
}

#observation-list tr:hover {
  opacity: 1;
}

#observation-list td {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
}

#observation-list tbody tr:nth-child(even) {
  background: rgba(1, 1, 1, 0.05);
}

#observation-list .placeholder td {
  text-align: center;
  padding: 24px;
  color: rgba(1, 1, 1, 0.8);
}

#observation-list .delete-link {
  color: #dc3545;
  float: right;
}

#observation-list .delete-link:hover {
  color: #c82333;
  text-decoration: underline;
}

#observation-search {
  clear: both;
}

#observation-search input {
  float: right;
  margin: 8px 0;
}

.width-30 {
  width: 30%;
}

@media screen and (max-width: 40em) {
  #wrap {
    width: auto;
    min-width: auto;
  }
}

