$header_font: "Alegreya Sans", sans, Arial;

html, body {
	margin: 0;
	padding: 0;
	font-family: sans, Arial;
	user-select: none;
}

h1, h2, h3 {
	font-family: $header_font;
	font-weight: normal;
}

a {
	cursor: pointer;
}

.clearfix {
	clear: both;
}

$button_color: #17a2b8;
$search_item_vertical_pad: 6px;

.button {
	border: none;
	border-radius: 2px;
	background: $button_color;
	color: #fff;
	padding: $search_item_vertical_pad 12px;
}

.button:hover {
	background: #138496;
}

#wrap {
	width: 60%;
	max-width: 1024px;
	margin: 24px;
}

#smallprint {
	font-size: 50%;
	color: rgba(0, 0, 0, 0.5);
}

h1:before {
	background: url(wip.jpg);
	content: "";
	width: 125px;
	height: 96px;
	display: inline-block;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 16px;
}

#show-add {
	display: none;

	+ label:before {
		background-image: inline-image('opener.svg');
		width: 16px;
		height: 16px;
		content: "";
		display: inline-block;
		transition: transform 0.2s;
		margin: 0 4px;
	}

	&:checked + label:before {
		transform: rotate(90deg);
	}
}

#observation-form {
	margin: 16px;
}

#observation-list {
	margin-top: 1.5em;

	h2 {
		margin: 0;
		float: left;
	}

	#search-item {
		float: right;
	}

	#search-item.active {
		box-shadow: inset 0 2px 6px mix($button_color, black, 70%);
		padding: $search_item_vertical_pad + 1 12px $search_item_vertical_pad - 1;
	}

	#search-item input {
		display: none;
	}

	table {
		clear: both;
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
		margin: 6px 0 24px;
	}

	thead {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	th {
		font-family: $header_font;
		text-transform: uppercase;
		font-weight: normal;
		color: rgba(1, 1, 1, 0.8);
	}
	tr {
		opacity: 0.85;
	}

	tr:hover {
		opacity: 1;
	}

	td {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	tbody tr:nth-child(even) {
		background: rgba(1, 1, 1, 0.05);
	}

	.placeholder td {
		text-align: center;
		padding: 24px;
		color: rgba(1, 1, 1, 0.8);
	}

	.delete-link {
		color: #dc3545;
		float: right;
	}

	.delete-link:hover {
		color: #c82333;
		text-decoration: underline;
	}
}

#observation-search {
	clear: both;
	input {
		float: right;
		margin: 8px 0;
	}
}

.width-30 {
	width: 30%;
}
