html, body {
	margin: 0;
	padding: 0;
	font-family: sans, Arial;
}

h1, h2, h3 {
	font-family: "Alegreya Sans", sans, Arial;
	font-weight: normal;
}

#wrap {
	width: 60%;
	max-width: 1024px;
	margin: 24px;
}

h1:before {
	background: url(wip.jpg);
	content: "";
	width: 125px;
	height: 96px;
	display: inline-block;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 16px;
}

h2 {
	margin-bottom: 0;
}

#show-add {
	display: none;

	+ label:before {
		background-image: inline-image('opener.svg');
		width: 16px;
		height: 16px;
		content: "";
		display: inline-block;
		transition: transform 0.2s;
		margin: 0 4px;
	}

	&:checked + label:before {
		transform: rotate(90deg);
	}
}

#observation-form {
	margin: 16px;
}

#observation-list {
	table {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#observation-list thead {
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}

	tbody tr:nth-child(even) {
		background: rgba(1, 1, 1, 0.1);
	}

	.placeholder td {
		text-align: center;
		padding: 24px;
	}
}

.width-30 {
	width: 30%;
}
