$header_font: "Alegreya Sans", sans, Arial;

html, body {
	margin: 0;
	padding: 0;
	font-family: sans, Arial;
	user-select: none;
}

h1, h2, h3 {
	font-family: $header_font;
	font-weight: normal;
}

#wrap {
	width: 60%;
	max-width: 1024px;
	margin: 24px;
}

h1:before {
	background: url(wip.jpg);
	content: "";
	width: 125px;
	height: 96px;
	display: inline-block;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 16px;
}

#show-add {
	display: none;

	+ label:before {
		background-image: inline-image('opener.svg');
		width: 16px;
		height: 16px;
		content: "";
		display: inline-block;
		transition: transform 0.2s;
		margin: 0 4px;
	}

	&:checked + label:before {
		transform: rotate(90deg);
	}
}

#observation-form {
	margin: 16px;
}

#observation-list {
	margin-top: 1.5em;

	h2 {
		margin: 0;
		float: left;
	}

	#search-item {
		float: right;
	}

	#search-item input {
		display: none;
	}

	table {
		clear: both;
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
	}

	thead {
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}

	th {
		font-family: $header_font;
		text-transform: uppercase;
		font-weight: normal;
		color: rgba(1, 1, 1, 0.8);
	}

	td {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	tbody tr:nth-child(even) {
		background: rgba(1, 1, 1, 0.05);
	}

	.placeholder td {
		text-align: center;
		padding: 24px;
		color: rgba(1, 1, 1, 0.8);
	}
}

#observation-search {
	clear: both;
}

.width-30 {
	width: 30%;
}
